@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
body {
  margin: 0 auto;
  width: 1440px;
}
@media (max-width: 375px) {
  body {
    width: 375px;
  }
}

.section-1 {
  height: 800px;
  background-image: url(/images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
@media (max-width: 375px) {
  .section-1 {
    width: 100%;
    height: 550px;
  }
}
.section-1 header {
  height: 80px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-1 header .logo {
  padding: 40px 0 0 30px;
  height: 34px;
  width: 160px;
}
@media (max-width: 375px) {
  .section-1 header .logo {
    padding: 30px 0 0 30px;
  }
}
.section-1 header nav {
  padding: 30px 50px 0 0;
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  .section-1 header nav {
    width: 70px;
    justify-content: flex-start;
  }
}
.section-1 header nav .fas {
  display: none;
}
@media (max-width: 375px) {
  .section-1 header nav .fas {
    display: flex;
    color: #fff;
  }
}
.section-1 header nav .pages {
  text-decoration: none;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  color: white;
}
@media (max-width: 375px) {
  .section-1 header nav .pages {
    display: none;
  }
}
.section-1 header nav .btn-contact {
  font-family: "Fraunces";
  font-size: 14.5px;
  color: #23303e;
  background-color: white;
  border: none;
  border-radius: 30px;
  padding: 0 18px;
  width: 125px;
  height: 50px;
}
.section-1 header nav .btn-contact:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  cursor: pointer;
}
@media (max-width: 375px) {
  .section-1 header nav .btn-contact {
    display: none;
  }
}
.section-1 h1 {
  margin-top: 100px;
  font-family: "Fraunces";
  font-weight: 900;
  letter-spacing: 8px;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
}
.section-1 .arrow {
  height: 115px;
  margin: 70px auto;
}

.section-2 {
  height: 600px;
  display: flex;
  align-items: center;
}
.section-2 .article-1 {
  max-width: 480px;
  padding: 130px 120px;
}
.section-2 .article-1 h2 {
  margin: 0 0 30px 0;
  font-family: "Fraunces";
  font-size: 42px;
  color: #23303e;
  width: 450px;
}
.section-2 .article-1 p {
  margin: 18px 0;
  font-family: "Barlow";
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #818498;
}
.section-2 .article-1 a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 5px;
  width: fit-content;
  font-family: "Fraunces";
  font-size: 15px;
  color: #23303e;
}
.section-2 .article-1 a::after {
  content: "";
  position: relative;
  left: -5px;
  top: -5px;
  background-color: #fad400;
  border-radius: 0.625rem;
  opacity: 0.3;
  width: 115px;
  height: 7px;
  z-index: -1;
}
.section-2 .article-1 a:hover::after {
  opacity: 1;
}
.section-2 .picture-1 {
  width: 720px;
  height: 600px;
  background-image: url(/images/desktop/image-transform.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-3 {
  height: 600px;
  display: flex;
  align-items: center;
}
.section-3 .article-2 {
  max-width: 480px;
  padding: 130px 120px;
}
.section-3 .article-2 h2 {
  margin: 0 0 30px 0;
  font-family: "Fraunces";
  font-size: 42px;
  color: #23303e;
  width: 450px;
}
.section-3 .article-2 p {
  margin: 18px 0;
  font-family: "Barlow";
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #818498;
}
.section-3 .article-2 a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 5px;
  width: fit-content;
  font-family: "Fraunces";
  font-size: 15px;
  color: #23303e;
}
.section-3 .article-2 a::after {
  content: "";
  position: relative;
  left: -5px;
  top: -5px;
  background-color: #fe7867;
  border-radius: 0.625rem;
  opacity: 0.3;
  width: 115px;
  height: 7px;
  z-index: -1;
}
.section-3 .article-2 a:hover::after {
  opacity: 1;
}
.section-3 .picture-2 {
  width: 720px;
  height: 600px;
  background-image: url(/images/desktop/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-4 {
  height: 600px;
  display: flex;
  align-items: center;
}
.section-4 .picture-3 {
  width: 720px;
  height: 600px;
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-4 .picture-3 h2 {
  margin: 0 auto;
  padding: 350px 0 20px;
  font-family: "Fraunces";
  font-size: 26px;
  color: #25564b;
}
.section-4 .picture-3 p {
  width: 350px;
  margin: 0 auto;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #25564b;
}
.section-4 .picture-4 {
  width: 720px;
  height: 600px;
  background-image: url(/images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-4 .picture-4 h2 {
  margin: 0 auto;
  padding: 350px 0 20px;
  font-family: "Fraunces";
  font-size: 26px;
  color: #19536b;
}
.section-4 .picture-4 p {
  width: 350px;
  margin: 0 auto;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #19536b;
}

.section-5 {
  height: 600px;
  margin-bottom: 50px;
}
.section-5 .testimonials-title {
  margin: 150px 0 40px 0;
  font-family: "Fraunces";
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 20px;
  color: #a7abae;
  display: flex;
  justify-content: center;
}
.section-5 .article-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-5 .article-3 .testimonial {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-5 .article-3 .testimonial .photo {
  width: 70px;
  border-radius: 50%;
  margin: 53px 140px;
}
.section-5 .article-3 .testimonial p {
  margin: 20px 20px;
  font-family: "Barlow";
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-align: center;
  color: #5a636c;
}
.section-5 .article-3 .testimonial .name {
  margin: 0 auto;
  padding: 40px 0 10px 0;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  color: #23303e;
}
.section-5 .article-3 .testimonial .position {
  margin: 0;
  font-family: "Barlow";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  color: #a7abae;
}

.section-6 {
  display: flex;
  flex-direction: row;
}
.section-6 .picture-5 {
  width: 360px;
  height: 447px;
  background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-6 .picture-6 {
  width: 360px;
  height: 447px;
  background-image: url(/images/desktop/image-gallery-orange.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-6 .picture-7 {
  width: 360px;
  height: 447px;
  background-image: url(/images/desktop/image-gallery-cone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-6 .picture-8 {
  width: 360px;
  height: 447px;
  background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-7 {
  height: 350px;
  background-color: #9edccd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-7 .logo-green {
  height: 34px;
  width: 160px;
  margin-top: 70px;
}
.section-7 nav {
  padding: 35px 0;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-7 nav .pages-2 {
  text-decoration: none;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  color: #458c7e;
}
.section-7 nav .pages-2:hover {
  color: white;
  cursor: pointer;
}
.section-7 .socials {
  padding: 35px 0;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-7 .socials i {
  font-size: 25px;
  color: #2c7566;
}
.section-7 .socials i:hover {
  color: white;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
